
@{
    ViewBag.Title = "Giris";
}

<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form name="loginForm" method="post" action="http://localhost:50483/">
        <table width="20%" bgcolor="0099CC" align="center">

            <tr>
                <td colspan=2><center><font size=4><b>Admin Giriş</b></font></center></td>
            </tr>

            <tr>
                <td>Kullanıcı_Adı:</td>
                <td><input type="text" size=25 name="userid"></td>
            </tr>

            <tr>
                <td>Şifre:</td>
                <td><input type="Password" size=25 name="pwd"></td>
            </tr>

            <tr>
                <td><input type="Reset"></td>
                <td><input type="submit" onclick="return check(this.form)" value="Giriş"></td>
            </tr>

        </table>
    </form>
    <script language="javascript">
        function check(form) {

            if (form.userid.value == "Admin" && form.pwd.value == "Admin") {
                return true;
            }
            else {
                alert("Error Password or Username")
                return false;
            }
        }
    </script>

</body>
</html>